extends layout

block title
  title #{__('page.title.signup')}

block content
  .panel(class='panel-default')
    .panel-heading
        h3.panel-title #{__('signup.block.title')}
      .panel-body
        .alert.alert-danger
          button.close(type='button', data-dismiss='alert', aria-hidden='true') &times;
          strong #{__('error')}
          span= error

        form(action='/login', method='post', role='form', style='width: 250px;margin: auto;')
          .form-group
            .row
              label #{__('email')}
                input.form-control(type='text', name='email')
            .row
              label #{__('name')}
                input.form-control(type='text', name='name')
            .row
              label #{__('last-name')}
                input.form-control(type='text', name='lastName')
            .row
              label #{__('gender')}
                select.form-control(name='gender')
                  option(value='male') #{__('male')}
                  option(value='female') #{__('female')}
            .row
              label #{__('password')}
                input.form-control(type='password', name='password1')
            .row
              label #{__('password-repeat')}
                input.form-control(type='password', name='password2')
            .row
              button.btn.btn-primary(type='submit') #{__('submit')}

